/* Стилизация поля ввода пароля */
input[type="password"] {
	padding: 10px; /* Отступы вокруг текста */
	border: 1px solid #ccc; /* Граница с тенью */
	border-radius: 5px; /* Закруглить углы */
	font-size: 16px; /* Размер шрифта */
	width: 100%; /* Занимать всю доступную ширину */
}

/* Стилизация поля ввода пароля при фокусе */
input[type="password"]:focus {
	border-color: #3498db; /* Изменить цвет границы при фокусе */
	box-shadow: 0 0 5px #3498db; /* Тень при фокусе */
}

/* Стилизация поля ввода текста */
input[type="text"] {
	padding: 10px; /* Отступы вокруг текста */
	border: 1px solid #ccc; /* Граница с тенью */
	border-radius: 5px; /* Закруглить углы */
	font-size: 16px; /* Размер шрифта */
	width: 100%; /* Занимать всю доступную ширину */
}

/* Стилизация поля ввода текста при фокусе */
input[type="text"]:focus {
	border-color: #3498db; /* Изменить цвет границы при фокусе */
	box-shadow: 0 0 5px #3498db; /* Тень при фокусе */
}